include LICENSE
include README.md
include requirements.txt
include pyproject.toml
include uvx.json
include examples/*.py
include .cursor/rules/*.mdc

recursive-include schematics *
recursive-include circuitmcp *.py 